.Weather {
  border: 1px solid #dadde1;
  font-family:Arial, Helvetica, sans-serif;
  color: #8faef5;
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  padding:16px;
  border-radius:4px;
}

.Weather form{
  margin-bottom:0;
}

.Weather h1 {
  color:#6a91ee;
  font-size: 24px;
  font-weight:100;
  line-height:29px;
  margin: 20px 0 0 0;
}

.Weather ul{
  margin:0;
  padding:0;
}

.Weather li{
  font-size:16px;
  font-weight:100;
  line-height:19px;
  list-style:none;
}

.Weather canvas{
  height:40px;
  margin-right:10px;
  margin:0 auto;
  margin-top:5px;
    
}

.Weather .btn{
  color: #f5f5f5;
  background-color:#b7cdff;
}


.Weather .temperature{
  font-weight:bold;
  color:#6a91ee;
  font-size:64px;
  line-height:64px;
}

.Weather .unit{
  color: #6a91ee;
  font-size:16px;
  font-weight:400;
  position:relative;
  top:-34px;
  line-height:1;
  margin-left:-15px;
}

